﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
    <!--<script src="~/Scripts/angular.min.js"></script>-->

</head>
<body >
<header class="masthead"  role="banner">
	<div class="container">
		<div class="table-wrap">
			<div class="site-branding clearfix left">
				<div class="logo"> <img class="logo" src="http://www.groupsixmarketing.com/wp-content/uploads/2014/06/Group6noCircle.png" href="http://localhost:50396/" >
				</div>			
            </div>
			
		</div>
	</div>
</header>
    <div class="navbar navbar-inverse ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
             @Html.ActionLink("Team 6", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
           
                
             </div>
       
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @if (Request.IsAuthenticated)
                {
                    <li>@Html.ActionLink("LogOut", "LogOut", "Home", new { area = "" }, null)</li>
                }

                </ul>
            </div>
        </div>
    </div>

   


   
<div class="container body-content">
   

        @RenderBody()
    <hr/>
   
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <footer>
        <div class="navbar-footer footer navbar">
            <hr />
            <div class="container">
               
                 <div class="navbar-header">
                   
                     <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>

                </div>
                
            </div>
            
        </div>
    </footer>


</body>
</html>
