﻿@model _383_PhaseII_Group6_API.Models.User
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@using (Html.BeginForm())
{

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>
    </div>

}
<script>
    $('form').submit(function (e) {
        e.preventDefault();
        console.log($('form').serializeArray()[0].value);
        $.ajax({
            url: '/api/ApiKey',
            type: 'GET',
            data: {
                email: $('form').serializeArray()[0].value,
                password:$('form').serializeArray()[1].value
    },
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (data) {
                window.location = '/Admin/Index';
            }
        });

    });
</script>

