﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.masthead
{
    background:#212121;
    border-bottom: 1px #212121;
    position: relative;
    bottom:50px;
    padding:26px;
}
.logo
{
    height:30%;
    width:170px;
    left:-7%;
    position:relative;
}

.footer {
    background: linear-gradient(to right, #01579b 0%,#cfd8dc 55%,#424242 99%);
    height:120px;
    border-top: 1px #212121;
    position: relative;
    top: 130px;
    padding: 26px;


}
#hor-minimalist-a {}
#hor-minimalist-a th { 
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 20px;
    background: #fff;
    width: 480px;
    border-collapse: collapse;
    text-align: left;
    margin: 20px;
    border-spacing: 0; 
    border-bottom: 2px solid #6678b1;

}
  #hor-minimalist-a td  {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    font-weight: normal;
    border-bottom: 1px solid #6678b1;
    padding: 10px 8px;
    color: #669;
   
}

  .search{
left: 850px;
position:relative;


  }

