﻿@{
    ViewBag.Title = "Items";
}
<div id="bodyContainer" ng-controller="InventoryCtrl" ng-app="InventoryApp">
    <modal title="Enter Email" visible="showModalB">
        <h2>Email</h2>
        <br />
        <label ng-show="visibleI">Invalid Email</label>
        <br />
        <br />
        <input ng-model="email" />
        <button ng-click="addItemsToSale(email)">Submit</button>
    </modal>

    <modal title="Cart" visible="showModal">
        <table id="hor-minimalist-a" summary="Employee Pay Sheet">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Inventory Quantity</th>
                    <th scope="col">Category</th>
                    <th scope="col">Manufacturer</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in cart">
                    <td>{{item.Name}}</td>
                    <td>{{item.Price| currency}}</td>
                    <td>{{item.InventoryCount}}</td>
                    <td>{{item.Category}}</td>
                    <td>{{item.Manufacturer}}</td>

                </tr>
               

        </table>
        <button class="btn btn-info btn-lg next option" ng-click="purchaseItems()"> Purchase</button>
    </modal>
    <modal title="Quantity" visible="showModalQ">
        <label style="color:red;" ng-show="visible">Invalid Input</label>
        <br />
        <label>Quantity</label>
        <input type="number" ng-model="amount" />
        <button ng-click="test(amount)">Submit</button>
    </modal>
    <section id="content">
        <div class="container">
            <div class="row">
                
                    <div ng-init="listOfProducts()">
                        <div class="glyphicon-search search">
                            <input unbxdattr="sq" name="Description" tabindex="1" style="width: 207px" title="Search Site" maxlength="268" placeholder="Search" type="search" ng-model="searchBox" autocomplete="off">
                        </div>
                        <br />
                        <table id="hor-minimalist-a" summary="Employee Pay Sheet">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Inventory Quantity</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Manufacturer</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in items | filter:searchBox">
                                    <td>{{item.Name}}</td>
                                    <td>{{item.Price| currency}}</td>
                                    <td>{{item.InventoryCount}}</td>
                                <td><button class="btn btn-info btn-lg next option" ng-click="productsByCategory(item.Category)">{{item.Category}}</button></td>
                                <td><button class="btn btn-info btn-lg next option" ng-click="productsByManufacturer(item.Manufacturer)">{{item.Manufacturer}}</button></td>
                                <td class="btn btn-info btn-lg next option" ng-click="addToCart(item.Name)">Add To Cart</td>
                            </tr>


                        </table>
                        <button class="btn btn-info btn-lg next option" ng-click="toggleModal()">Cart</button>
                    </div>
                </div>
        </div>
    </section>
</div>
@section scripts {
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/app/inventory-controller.js")
}
